<connectionStrings>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security = true;"
       providerName="System.Data.SqlClient"/>
  <!-- the default connectionstring is used by security
       Alter the datasource and initial Catalog values to point to the database-->
  <add name="DefaultConnection" connectionString="Data Source=J4M35\SQLEXPRESS; Initial Catalog=Chinook; Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>